<div class="container-fluid"> <!--Work on this page before making it live-->
    <div class="container">
        <div class=row>
            <div class="col-lg-5 col-md-6 mt-5 text-center">
                <div class="about-img">
                        <img class="center-block w-100" src="../assets/Homepage/Images/volunteera2.jpg"> 
                </div>
            </div>
            <div class="col-lg-7 col-md-6 mt-5 ">
                <div class="about-content">
                    <h2>About Us</h2>
                    <h3>we are so good</h3>
                    <!--Add real bullshiz text here-->
                <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores neque. 
                    Aspernatur consectetur omnis numquam quaerat. 
                    Sed fugiat nisi. 
                    Officiis veniam molestiae. Et vel ut quidem alias veritatis repudiandae ut fugit. 
                    Est ut eligendi aspernatur nulla voluptates veniam iusto vel quisquam.
                    Fugit ut maxime incidunt accusantium totam repellendus eum error. Et repudiandae eum iste qui et ut ab alias.</p>
                <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores neque. Aspernatur consectetur omnis numquam quaerat. 
                    Sed fugiat nisi. 
                    Officiis veniam molestiae. Et vel ut quidem alias veritatis repudiandae ut fugit. 
                    Est ut eligendi aspernatur nulla voluptates veniam iusto vel quisquam. 
                    Fugit ut maxime incidunt accusantium totam repellendus eum error.
                    Et repudiandae eum iste qui et ut ab alias.</p>
                </div>
            </div>
        </div>
    </div>
</div>
